.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "none header header"
    "controls upcoming upcoming";

  margin-top: var(--space-xxxxl);

  &__controls {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    padding: 0 var(--space-l) 0 var(--space-l);
    border-right: var(--border);

    &__create-btn {
      @include roboto-slab(800);
      width: 100%;
      border: none;
      outline: none;
      font-size: var(--font-size-l);
      background-color: var(--color-secondary);
      padding: var(--space-xxs);
      border-radius: var(--border-radius);
      box-shadow: var(--shadow-large);
    }

    &__events-list {
      ul {
        list-style-type: none;
      }
    }
  }

  &__upcoming {
    grid-area: upcoming;
    padding: 0 var(--space-l) 0 var(--space-l);

    display: grid;
    gap: var(--space-l);
  }

  &__header {
    grid-area: header;
    margin-bottom: var(--space-s);
  }
}
