<div class="container">
  <header class="welcome">
    <h1 class="welcome__message">Weclome Planeswalker!</h1>
  </header>

  <main class="dashboard">
    <h1 class="dashboard__header">
      Upcoming events
    </h1>  
    
    <section class="dashboard__controls">
      <button class="dashboard__controls__create-btn">
        Create event
      </button>

      <div class="dashboard__controls__events-list">
        <h2>My events</h2>
        <ul>
          <li>Placeholder 1</li>
          <li>Placeholder 2</li>
        </ul>
      </div>
    </section>
    <section class="dashboard__upcoming">
      <div class="dashboard__upcoming__item">
        <h2>Placeholder 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aperiam ducimus maiores explicabo, ab officia at! Modi et porro illum, eligendi, vitae minima iure omnis ex culpa placeat officiis est odit sint. Blanditiis itaque minus nihil? Ut, ab maxime deleniti tempora optio, nesciunt hic velit voluptatem nulla sapiente ad quia.</p>
      </div>
      <div class="dashboard__upcoming__item">
        <h2>Placeholder 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aperiam ducimus maiores explicabo, ab officia at! Modi et porro illum, eligendi, vitae minima iure omnis ex culpa placeat officiis est odit sint. Blanditiis itaque minus nihil? Ut, ab maxime deleniti tempora optio, nesciunt hic velit voluptatem nulla sapiente ad quia.</p>
      </div>
      <div class="dashboard__upcoming__item">
        <h2>Placeholder 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aperiam ducimus maiores explicabo, ab officia at! Modi et porro illum, eligendi, vitae minima iure omnis ex culpa placeat officiis est odit sint. Blanditiis itaque minus nihil? Ut, ab maxime deleniti tempora optio, nesciunt hic velit voluptatem nulla sapiente ad quia.</p>
      </div>
    </section>
  </main>
</div>